{% extends "base.html" %}


{% block title %}いま{% endblock %}

{% block content %}

<h1>研究室の入退室状況</h1>

<p>{{ request.user }} さんは現在 {{ current_user_status }} です。</p>

<p>在室人数: {{ in_lab_user_count }}人</p>

<h2>みんなの入退室ログ</h2>
<ul>
  {% for log in all_user_latest_logs %}
  <li>{{ log.timestamp }} - {{ log.user.username }} - {{ log.get_action_display }}</li>
  {% endfor %}
</ul>

<!-- path関数の名前空間を探索してview関数を探しpostメソッド（HTTPリクエスト）を呼び出す -->
<form action="{% url 'records:in-out_toggle' %}" method="post">
  {% csrf_token %}
  {% if current_user_status == '入室中' %}
  <button type="submit" class="btn btn-danger">退出する</button>
  {% else %}
  <button type="submit" class="btn btn-success">入室する</button>
  {% endif %}
</form>

{% endblock %}
