<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8" />
  <title>{% block title %}入退室{% endblock %}</title>
</head>

<body>
  <header>
    {% if request.user.is_authenticated %}
    <a href="{% url 'accounts:logout' %}">ログアウト</a>
    <a href="{% url 'records:lab_status' %}">いま</a>
    {% else %}
    <a href="{% url 'accounts:login' %}">ログイン</a>
    <a href="{% url 'accounts:signup' %}">登録</a>
    {% endif %}
  </header>
  <div>
    {% block content %}
    {% endblock %}
  </div>
</body>

</html>
